@font-face {
    font-family: 'MyCustomFont';
    src: url('../font/static/JosefinSans-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }

  body.app {
    margin: 0;
    padding: 0;
    background-image: url('../picture/saturn.png');
    background-size: cover;
    background-position: center -80px;
    background-repeat: no-repeat;
    background-color: black; 
  }
  



 
  