form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleMainpage {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgb(242, 227, 190);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}
  
  h1 {
    font-size: 30px;
    color: #333;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color:rgb(242, 227, 190);
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: rgb(242, 227, 190);
    border: 2px solid rgb(242, 227, 190);
    border-radius: 16px;
    padding: 15px;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: rgb(36, 36, 34);
    border: 2px solid rgb(36, 35, 34);
    border-radius: 16px;
    padding: 12px;
  }
  
  label {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: rgb(252, 249, 249);
    margin-bottom: 8px;
}

  
  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 20%;
    background-color: #ccc;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color:  rgb(242, 227, 190);
    color: rgb(91, 65, 14);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .click {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .errorMessage {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ff1845;
  }
  
  
  .error-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(101, 98, 94, 0.8);
    padding: 16px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    z-index: 1;
  }
  