
  .public-board {
    background-color: rgba(242, 227, 190, 0.8);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-right: 100px;
    margin-top: 20px;
    height: 700px;
    width: 80%; 
    }
  
  .public-board-container {
    background-color: rgba(242, 227, 190, 0.8);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-right: 30px;
    width: 95%;
    height: 400px;
  }

  .public-board-frame {
    background-color: rgba(242, 227, 190, 0.8);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-right: 30px;
    width: 95%;
    height: 300px;
    overflow-y: scroll; /* 显示垂直滚动条 */
  }
  
  .board-title {
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
  }
  
  .public-board-announcements{
    background-color: rgba(242, 227, 190, 0.8);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-right: 100px;
    width: 95%;
    height: 200px;
  }

  .announcement-section {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .announcement-title {
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
  }
  
  .announcement-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .announcement-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 650px;
    height: 80px;
    margin-top: 10px;
  }  
  
  .announcement-button {
    background-color: rgb(200, 171, 98);
    color: rgb(84, 60, 9);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  